html, body, .container-fluid, .row {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#g-logo {
    margin: 8px 8px 0 0;
}

.main {
    margin: 0;
    padding: 45px 0 0 0;
}

.row {
    padding: 0;
    margin: 0;
}

#zijbalk {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    overflow: hidden auto;
}

#kaart {
    height: 100%;
    padding: 0;
}

#banner {
    width: 100%;
    margin-top: 18px;
    min-height: 110px;
}